<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A web tool that allows users to run Natural Language Processing (NLP) on articles or blogs found on other websites."
    />
    <meta name="theme-color" content="#1f7a8c" />
    <link rel="icon" href="../assets/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/apple-touch-icon.png" />
    <link rel="manifest" href="../assets/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Article Evaluator</title>
  </head>
  <body>
    <header class="header">
      <div class="logo-wrapper container">
        <img class="logo-img" src="../assets/logo.svg" alt="a robot's head" />
        <p class="logo-text">Article Evaluator</p>
      </div>
    </header>

    <main class="main container">
      <section class="section-form">
        <h1 class="heading-primary">Analyze Your Articles Instantly</h1>
        <form class="form">
          <label for="url" class="label">
            Enter the news article's URL, please!
          </label>
          <input id="url" class="input" name="url" type="url" autofocus />
          <button type="submit" class="btn-cta">Submit</button>
        </form>
      </section>

      <section class="section-data">
        <h2 class="heading-secondary">Results:</h2>
        <ul class="data-list">
          <li>
            <img
              class="icon"
              src="../assets/polarity.svg"
              alt="a like-dislike icon"
            />polarity: <span id="polarity"></span>
          </li>
          <li>
            <img
              class="icon"
              src="../assets/subjectivity.svg"
              alt="a question icon"
            />subjectivity: <span id="subjectivity"></span>
          </li>
          <li>
            <img class="icon" src="../assets/snippet.svg" alt="a crop icon" />A
            snippet from the article: <span id="snippet"></span>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="copyright">
          Copyright &copy;<span class="year">2024</span>. All Rights Preserved
        </p>
        <p class="source">
          Information is sourced from
          <a
            href="https://www.meaningcloud.com/developer/sentiment-analysis"
            target="_blank"
            >MeaningCloud</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
