@use "./general" as *;

.footer {
  display: flex;
  align-items: center;
  background-color: $color-blue-light;
  box-shadow: 0 0rem 1rem 1rem $color-blue-light;
  margin-top: 1rem;
  height: calc(15vh - 1rem);
  .container {
    text-align: center;
    color: $color-blue-dark;
  }
}

.copyright {
  margin-bottom: 1.6rem;
}
