@use "./general" as *;

.footer {
  display: flex;
  align-items: center;
  background-color: $color-blue-light;
  height: 15vh;
  .container {
    color: $color-blue-dark;
  }
}

.copyright {
  margin-bottom: 1.6rem;
}
