// variables
$color-primary: #1f7a8c;
$color-blue-light: #d2e6f9;
$color-blue-dark: #053c5e;
$color-orange: #d58936;
// $color-orange: #E7EB90;
// $color-orange: #EE4266;
// $color-blue-light: #bfdbf7;
// $color-orange: #db222a;
// $color-red: #a31621;
$color-white: #fff;
$color-black: #444;
$radius-default: 9px;
$box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
$box-shadow-focus: 0 0 0 0.3rem $color-primary;
$timing-animation: 0.3s;

////////////////////////////////////////
// Global reset
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  font-family: "Rubik", sans-serif;
  color: $color-black;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $color-white;
}

a:link,
a:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all $timing-animation;
}
a:hover,
a:active {
  border-bottom: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

////////////////////////////////////////
// mixins
@mixin text($fs: inherit, $fw: 400, $lineHeight: 1.1, $mb: 0) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lineHeight;
  margin-bottom: $mb;
}

////////////////////////////////////////
// Reusable classes
.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
