@use "./general" as *;

.header {
  background-color: $color-blue-light;
  box-shadow: 0 0rem 1rem 1rem $color-blue-light;
  margin-bottom: 1rem;
  height: calc(15vh - 1rem);
  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.logo-img {
  height: 4rem;
  width: 4rem;
}

.logo-text {
  color: $color-blue-dark;
  @include text($fs: 2rem, $fw: 500);
  margin-bottom: 0.6rem;
}
