@use "./general" as *;

.header {
  background-color: $color-blue-light;
  height: 15vh;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  user-select: none;
}

.logo-img {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $color-white;
}

.logo-text {
  font-family: $font-family-mono;
  color: $color-blue-dark;
  @include text($fs: 2rem, $fw: 700);
  // margin-bottom: 0.6rem;
}
